:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-clr-btn: #f5f4fa;
  --card-set-gap: 30px;
  --bg-color-hero: #e5e5e5;
  --color-icon: #afb1b8;
  --color-icon-bg: #44454e;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: var(--primary-text-color);

  margin: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  display: block;
  text-decoration: none;
  margin: 0;
}
h1,
h2,
h3,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
input {
  margin: 0;
  padding: 0;
}
textarea {
  resize: none;
}

/* Шапка сайта */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.header__container {
  display: flex;
  align-items: center;
}
.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  margin-right: 93px;

  color: var(--accent-color);
}
.logo__title {
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: #000000;
}
.navigation__list {
  display: flex;
  align-items: center;
}
.navigation__item {
  margin-right: 50px;
}
.navigation__item:last-child {
  margin-right: 0;
}
.navigation__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: var(--transition-duration) var(--transition-timing-function);

  color: var(--title-text-color);
}
.navigation__link.current {
  color: var(--accent-color);
}
.navigation__link:hover,
.navigation__link:focus,
.navigation__link.current:focus,
.navigation__link.current:active {
  color: var(--accent-color);
}

.navigation__link.current::after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;

  background: var(--accent-color);
  border-radius: 2px;
}

.contact__list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contact__item {
  display: flex;
  margin-right: 50px;
}
.contact__item:last-child {
  margin-right: 0;
}
.contact__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  transition: var(--transition-duration) var(--transition-timing-function);

  color: var(--primary-text-color);
}
.contact__link:hover,
.contact__link:focus {
  color: var(--accent-color);
}
.contact__icon {
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  fill: var(--primary-text-color);
}
.contact__link:hover .contact__icon,
.contact__link:focus .contact__icon {
  fill: var(--accent-color);
}

/* Хедер портфолио*/
.header-portfolio {
  border-bottom: 1px solid #ececec;
}

/* Секция Герой */
.hero {
  height: 600px;
  text-align: center;
  padding-top: 200px;
  margin-left: auto;
  margin-right: auto;
}
.overlay {
  max-width: 1600px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../img-studio/header.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(47, 48, 58, 0.4);
}
.hero-title {
  align-items: center;
  width: 696px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.button {
  margin-top: 30px;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;

  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border-width: inherit;

  background-color: var(--accent-color);
  color: #ffffff;

  animation: animate-btn 3000ms infinite 1000ms;
}
.button:hover,
.button:focus {
  background-color: #188ce8;
}
@keyframes animate-btn {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;

  background-color: rgba(0, 0, 0, 0.1);

  transition: opacity 1000ms, visibility 600ms;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* Основные задачи Веб-Студии */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.main-features {
  display: block;
}
.features {
  display: flex;
}
.icon-features {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background: #f5f4fa;
}
.features-item {
  width: 270px;
}
.features .features-item + .features-item {
  margin-left: var(--card-set-gap);
}
.features-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-text-color);
}

.features-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

/* Задачи Веб-Студии */
.main-task {
  padding-bottom: 94px;
}
.title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.tasks {
  display: flex;
}
.tasks .task-item + .task-item {
  margin-left: var(--card-set-gap);
}
.task-item {
  position: relative;
}
.text-box {
  position: absolute;
  content: '';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;

  background-color: rgb(47, 48, 58, 0.8);
}
.text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
/* Наша команда */
.team {
  background: #f5f4fa;
}
.team-title {
  margin-bottom: 50px;
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;

  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.list-members {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.list-members .member + .member {
  margin-left: var(--card-set-gap);
}
.member {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
.member-discription {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-member {
  text-align: center;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.team-stream {
  text-align: center;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  margin-bottom: 16px;

  color: var(--primary-text-color);
}
.team-socials {
  display: flex;
  align-items: center;
  justify-content: center;
}
.socials:not(last-child) {
  margin-right: 10px;
}
.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  cursor: pointer;
  border-radius: 50%;

  transition: var(--transition-duration) var(--transition-timing-function);

  background-color: #ffffff;
  color: var(--color-icon);
}
.socials-link:hover,
.socials-link:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}
.social-icon {
  fill: currentColor;
}
/* Постоянные клиенты */
.cleint-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.cleint-list .client-item + .client-item {
  margin-left: var(--card-set-gap);
}
.client-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;

  cursor: pointer;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: var(--transition-duration) var(--transition-timing-function);

  color: var(--color-icon);
}
.client-link:hover,
.client-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.cleint-icon {
  fill: currentColor;
}

/* Футер */
.footer {
  background: #2f303a;
}
.flex {
  display: flex;
}
.logotype {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  display: block;

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: var(--accent-color);
}
.address {
  display: block;
  margin-top: 20px;
  width: 231px;
  height: 81px;
}
.logo__title-footer {
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: #ffffff;
}
.address .address-item + .address-item {
  padding-top: 9px;
}
.address-text {
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #ffffff;
}
.address-link {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.network-address {
  display: block;
  margin-left: 70px;
  padding-top: 72px;
  padding-bottom: 100px;
}
.slogan {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.network-list {
  display: flex;
}
.network-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  transition: var(--transition-duration) var(--transition-timing-function);

  background-color: var(--color-icon-bg);
}
.network-icon {
  fill: #ffffff;
}
.network-link:hover,
.network-link:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}
.network:not(last-child) {
  margin-right: 10px;
}
/* Форма */
.form-footer {
  display: block;
  margin-left: 93px;
  padding-top: 72px;
  padding-bottom: 94px;
}

.form-title {
  display: block;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 20px;

  color: #ffffff;
}
.contact-form {
  display: flex;
  justify-content: center;
}
.email-input {
  display: inline-block;
  width: 358px;
  margin-right: 12px;
  padding: 15px 16px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;

  background-color: transparent;
  outline: transparent;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.email-input:hover,
.email-input:focus {
  border: 1px solid var(--accent-color);
}
.btn-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;

  cursor: pointer;
  border-radius: 4px;
  border-width: inherit;

  color: #ffffff;

  width: 200px;
  height: 50px;
  border-radius: 4px;

  background-color: var(--accent-color);
}

.icon-send {
  fill: #ffffff;
  margin-left: 10px;
}

/* Модальное окно */

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  border-radius: 3px;
  padding: 40px;

  background-color: #ffffff;

  animation-name: changeBgColor;
  animation-duration: 4000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 250ms;
}
/* @keyframes changeBgColor {
  0% {
    background-color: rgb(255, 255, 255);
  }

  50% {
    background-color: rgb(159, 198, 243);
  }

  100% {
    background-color: rgb(170, 241, 238);
  }
} */

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  z-index: 3;

  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
}
.icon-close {
  transition: var(--transition-duration) var(--transition-timing-function);
}
.icon-close:hover,
.icon-close:focus {
  fill: var(--accent-color);
}
.form-title-modal {
  display: block;
  justify-content: center;
  margin-bottom: 12px;

  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

/* Форма в модальном окне */

.form-wrapper {
  margin-bottom: 20px;
}

.form-wrapper .form-modal-group + .form-modal-group {
  margin-top: 10px;
}

.form-modal-group {
  display: block;
  position: relative;
  width: 100%;
}
.form-modal-label {
  display: block;
  text-align: start;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}

.form-modal-input {
  position: relative;
  width: 100%;
  height: 40px;
  padding: 11px 12px 11px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  outline: transparent;

  transition: var(--transition-duration) var(--transition-timing-function);
}
.form-modal-input:hover,
.form-modal-input:focus {
  border: 1px solid var(--accent-color);
}

.form-modal-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;

  top: 50%;
  left: 12px;

  transition: var(--transition-duration) var(--transition-timing-function);
}

.form-modal-input:focus + .form-modal-icon {
  fill: var(--accent-color);
}
.form-modal-input:hover + .form-modal-icon {
  fill: var(--accent-color);
}

.form-message {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  cursor: pointer;

  transition: var(--transition-duration) var(--transition-timing-function);
}
.form-message:hover,
.form-message:focus {
  border: 1px solid var(--accent-color);
}
.form-message::placeholder {
  opacity: 0.5;
}

/* Чекбокс */
.form-policy-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.custom-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 7px;

  border-radius: 2px;
  outline: 2px solid var(--title-text-color);
  outline-offset: -2px;

  transition: background-color var(--transition-duration) var(--transition-timing-function);
}
.custom-checkbox-icon {
  opacity: 0;
}
.checkbox:checked + .custom-checkbox .custom-checkbox-icon {
  opacity: 1;
  fill: #ffffff;
}
.checkbox:checked + .custom-checkbox {
  background-color: var(--accent-color);
  outline: var(--accent-color);
  transition: var(--transition-duration) var(--transition-timing-function);
}
.custom-checkbox:focus {
  outline: var(--accent-color);
}
.form-policy-desc {
  display: flex;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.form-policy-link {
  text-decoration: underline;
  margin-left: 3px;
  color: var(--accent-color);
}

.btn {
  display: block;
  margin: 0 auto;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;

  cursor: pointer;
  border-radius: 4px;
  border-width: inherit;

  color: #ffffff;

  width: 200px;
  height: 50px;
  border-radius: 4px;

  background-color: var(--accent-color);

  transition: var(--transition-duration) var(--transition-timing-function);
}
.btn:hover,
.btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Кнопки фильтра портфолио */

.button-filter {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  cursor: pointer;

  transition: var(--transition-duration) var(--transition-timing-function);

  color: var(--title-text-color);
  background-color: var(--background-clr-btn);
}
.current-btn,
.button-filter:hover,
.button-filter:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-filter .current:focus,
.button-filter .current:active {
  background-color: var(--accent-color);
}

.list-filter {
  display: flex;
  justify-content: center;
  height: 54px;
  align-items: flex-start;
  margin-bottom: 34px;
}
.item-filter {
  height: 38px;
  min-width: 73px;
}
.list-filter .item-filter + .item-filter {
  margin-left: 8px;
}

/* Галерея проектов */
.cards-list {
  display: flex;
  flex-wrap: wrap;

  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}
.cards-list > .item-card {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);

  background: #ffffff;
}
.card {
  position: relative;
  overflow: hidden;
}

.text-transform {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  opacity: 0;

  background: rgba(33, 150, 243, 0.9);

  transform: translateY(0);
  transition: transform var(--transition-duration) var(--transition-timing-function);

  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;

  color: #ffffff;
}
.link-card:hover .text-transform,
.link-card:focus .text-transform {
  transform: translateY(-100%);
  opacity: 1;
}
.link-card {
  transition: var(--transition-duration) var(--transition-timing-function);
}

.link-card:hover,
.link-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards-discription {
  display: block;
  padding: 20px 24px;
  text-align: start;
  border: 1px solid #eeeeee;
}
.cards-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}
.text-card {
  margin-top: 4px;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
